<html>
    <head>
        <title>Clinikally Challenge</title>
        <link rel="stylesheet" href="../static/css/index.css">
      </head>
      <body>
        <h1>Clinikally Challenge App</h1>
        <p>Wait untill the Snack is fully loaded you click on Launch Snack once loaded!</p>
        <div class="expo" data-snack-id="@the-r3aper7/github.com-the-r3aper7-clinikally-app" data-snack-platform="android" data-snack-preview="true" data-snack-theme="light"></div>
        <script async src="../static/js/expo-embed.js"></script>
    </body>
</html>